In [ ]:
import numpy as np
import pandas as pd

# 091

시리즈 정렬

시리즈에 저장된 데이터의 순서를 변경하라.

data = [100, 300, 200]
index = ["08/01", "08/02", "08/03"]
s = Series(data, index)

08/01    100
08/03    200
08/02    300
dtype: int64

In [ ]:
s.iloc[[0,2,1]]

# 092

시리즈 정렬

시리즈에 저장된 데이터를 오름차순 혹은 내림차순으로 정렬하라.

randint 함수는 지정된 범위 (10)에서 임의의 숫자를 생성해서 numpy의 ndarray 객체로 반환 합니다. 실행할 때마다 다른 값이 출력되는데, 이는 정상입니다.

import numpy as np

data = np.random.randint(10, size=4)
s = Series(data)
3    0
2    5
1    7
0    9
dtype: int32

In [11]:
s.sort_value() #오름차순
s.sort_value(ascending = False) #내림차순

# 093

시리즈 정렬
인덱스를 기준으로 a, b, c 순서로 데이터를 정렬하라.

s = Series(np.random.randint(10, size=4), ["b", "c", "a", "d"])
a    3
b    3
c    1
d    4
dtype: int32

In [12]:
s.sort_index()

# 094

시리즈 연산

시리즈에 네 제곱한 결과를 시리즈로 출력하라.

data = [100, 300, 200]
s = Series(data)

In [13]:
data**4

# 095

시리즈 덧셈

다음 연산의 결과를 예측하라.

data = [100, 300, 200]
s0 = Series(data, ["a", "b", "c"])
s1 = Series(data, ["a", "c", "b"])
print(s0 + s1)

In [15]:
200, 500, 500

# 096

시리즈 뺄셈

다음 연산의 결과를 예측하고 그 원인을 설명하라.

high = Series(data=[51500, 51200, 52500], index=["5/1", "5/2", "5/3"])
low = Series(data=[50700, 50500, 50500], index=["5/1", "5/2", "5/4"])

diff = high – low
print(diff)

In [ ]:
5/1 | 50700 | 
| 5/2 | 505 00 | 
| 5/3 | NaN | 
| 5/4 | NaN |

# 097

시리즈의 비교연산

시리즈에서 52000보다 작은 값을 출력하라.

s = Series(data=[51500, 51200, 52500], index=["5/1", "5/2", "5/3"])

In [ ]:
s[s<52000]

# 098

시리즈 비교연산

5월 1일 이후의 데이터를 출력하라.

s = Series(data=[51500, 51200, 52500], index=["5/1", "5/2", "5/3"])

In [ ]:
a = s.index >"5/1"
s.loc[a]

# 099

시리즈 비교연산

51400원 이상 53000 이하의 값을 출력하라.

s = Series(data=[51500, 51200, 52500], index=["5/1", "5/2", "5/3"])

In [ ]:
s[51400<=s<=53000]

# 100

시리즈 비교연산

시리즈에서 가격이 52000원 이하였던 날은 몇일인가?

s = Series(data=[51500, 51200, 52500], index=["5/1", "5/2", "5/3"])

In [ ]:
a  = s <= 52000
s[a]