In [ ]:
import numpy as np
import pandas as pd

# 111

count

다음 시리즈 객체가 있을 때 null이 아닌 값의 개수를 출력하세요.

import numpy as np
from pandas import Series 

data = [1, 2, 3, 4, np.nan]
s = Series(data=data)

In [ ]:
s.isna().sum()

# 112

시리즈 데이터 타입 변경

다음 시리즈 객체는 문자열 타입의 데이터가 저장돼 있습니다. 데이터 타입의 문자열로 저장된 경우 숫자와 사칙연산을 수행할 수 없습니다. 시리즈 객체의 데이터 타입을 숫자 타입으로 변경해보세요.

data = ["100", "200", "300"]
index = ["철수", "영희", "아름"]
s = Series(data, index)

In [11]:
s.astype('int')

# 113

시리즈 문자열 replace

다음 시리즈 객체는 문자열 타입의 데이터가 저장돼 있습니다. str.replace 함수를 사용하여 컴마를 제거한 후 데이터를 'int32' 타입으로 변환해보세요.

data = ["100,000", "200,000", "300,000"]
index = ["철수", "영희", "아름"]
s = Series(data, index)

In [12]:
s.str.replace(",","")
s.astype('int32')

# 114

시리즈 문자열 인덱싱

다음과 같은 시리즈 객체가 있을 때 values에서 '세'라는 문자열을 제거한 후 데이터를 'int32' 타입으로 변환해보세요.

>> s = pd.Series(["30세", "40세", "50세"], index=["김대리", "이과장", "박차장"])
>> print(s)

김대리    30세
이과장    40세
박차장    50세
dtype: object

In [13]:
s.str.replace("세","")
s.astype('int32')

# 115

reindex

다음 시리즈 객체의 인덱스를 ['a', 'b', 'c', 'd']로 재정렬하세요.

import pandas as pd

s = pd.Series([1, 2, 3, 4], index=["d", "c", "a", "b"])
s

In [15]:
s.sort_index()

# 116

index 변경

다음 시리즈 객체의 인덱스를 월-일 형태(년도 제거)로 변경하세요.

import pandas as pd
s = pd.Series([1, 2, 3], index=['2023-01-01', '2023-01-02', '2023-01-03'])

In [ ]:
s.index.str[5:]

# 117

datetime

다음 시리즈 객체의 인덱스를 datetime(Timestamp) 타입으로 변경하세요.

import pandas as pd
s = pd.Series([1, 2, 3], index=['2023-01-01', '2023-01-02', '2023-01-03'])

In [ ]:
s.index = pd.to_timestamp(s.index)

# 118

dropna

다음 시리즈 객체에서 NaN 값을 제거하세요.

import pandas as pd

s = pd.Series([1, 2, 3, np.nan])

In [ ]:
s.dropna()

# 119

Series.map

시리즈의 맵 메서드를 사용하여 시리즈 객체에서 콤마를 제거하세요.

import panas as pd

s = pd.Series(["1,234", "5,678", "9,876"])

In [ ]:
def remove_comma( x ):
    return x.replace(',', '')

s.map( remove_comma )

# 120

Series.apply

시리즈 객체의 apply 메서드를 사용하여 상용 로그(자연수 10을 밑으로 한 로그) 값을 구하세요.

import pandas as pd

s = pd.Series([10, 100, 1000])

In [ ]:
s.apply(np.log10)