In [ ]:
import numpy as np
import pandas as pd

# 071

시리즈 타입

다음 코드를 수행하면 어떤 데이터 타입을 출력되는지 이야기해보세요. 그리고 그 이유는 무엇인가요?

import pandas as pd

s = pd.Series([1, 2, 'python'])
print(s.dtype)

In [ ]:
'object'

# 072

시리즈 타입 변경

다음 시리즈 객체의 데이터 타입을 int32로 변경해보세요.

import pandas as pd

s = pd.Series(['1', '2', '3'])

In [11]:
s.astype('int32')

# 073

시리즈 데이터 타입 설정

BTC 금액이 50000 달러, XRP 금액이 1 달러, ETH 금액이 4000 달러일 때 시리즈 객체로 생성하세요. 시리즈 객체를 생성할 때 가격의 데이터 타입을 float로 지정해서 생성하세요.

In [12]:
tickers = ["BTC", "XRP", "ETH"]
prices = [50000, 1, 4000]

s = series(data = prices, index = tickers, dtype = 'float')

# 074

시리즈 인덱싱 (대괄호 사용하기)

다음 데이터를 시리즈 객체로 표현하세요. 그다음 대괄호([ ])을 사용하여 200을 출력하세요.

data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)

In [13]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)

s['영희']

# 075

시리즈 인덱싱 (iloc 속성 사용하기)

다음 데이터를 시리즈 객체로 표현하세요. 그다음 iloc 속성을 사용하여 200을 출력하세요.

data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)

In [15]:
s.iloc[1]

# 076

시리즈 인덱싱 (loc 속성 사용하기)

다음 데이터를 시리즈 객체로 표현하세요. 그다음 loc 속성을 사용하여 200을 출력하세요.

data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)

In [ ]:
s.loc['영희']

# 077

시리즈 인덱싱 (인덱스 사용하기)

다음 데이터를 시리즈 객체로 표현하세요. 그다음 인덱스를 사용하여 200을 출력하세요.

data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)

In [ ]:
s."영희

# 078

시리즈 슬라이싱

시리즈에서 100과 200을 시리즈로 출력하라.

data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)

In [ ]:
s[:2]

# 079

시리즈 슬라이싱

시리즈에는 일자별 가격 정보가 저장돼 있다. 시리즈에서 상위 3개의 데이터의 날짜 (인덱스)를 출력하라.

data = [100, 200, 300, 400, 500, 600]
index = ["08/01", "08/02", "08/03", "08/04", "08/05", "08/06"]
s = Series(data, index)
Index(['08/01', '08/02', '08/03'], dtype='object')

In [ ]:
s.iloc[:3]

# 080

시리즈 슬라이싱

시리즈에서 100, 300, 500을 슬라이싱으로 출력하라.

data = [100, 200, 300, 400, 500, 600] 
index = ["08/01", "08/02", "08/03", "08/04", "08/05", "08/06"] 
s = Series(data, index)

In [ ]:
s.iloc[:3:1]