In [2]:
import numpy as np

# 131

데이터프레임 컬럼 문자열 다루기

다음 데이터프레임의 'cd' 컬럼의 'A'를 제거하세요.

from pandas import DataFrame
import numpy as np

data = [
    {"cd":"A060310", "nm":"3S", "close":"2,920"},
    {"cd":"A095570", "nm":"AJ네트웍스", "close":"6,250"},
    {"cd":"A006840", "nm":"AK홀딩스", "close":"29,700"},
    {"cd":"A054620", "nm":"APS홀딩스", "close":"19,400"}
]
df = DataFrame(data=data)

In [3]:
df['cd'].str[1:]

array([-1, -3])

# 132

데이터프레임 문자열 컬럼

위 데이터프레임에서 'close' 컬럼의 콤마를 제거한 후 np.int64 타입으로 변경하세요.

In [11]:
df['close'].replace(",",'').astype('np.int64')

# 133

DataFrame dropna

다음 데이터프레임에서 np.nan 값이 있는 모든 행을 제거하세요.

data = [
    [1, 2, 3],
    [np.nan, 5, 6],
    [7, np.nan, 9],
    [10, 11, np.nan]
]
df = pd.DataFrame(data)

In [12]:
df.dropna()

# 134

dataframe.dropna (subset)

다음 데이터프레임에서 col2 컬럼의 값에 NaN이 포함된 행만 제거하세요.

import pandas as pd
import numpy as np

data = [
    [1, 1, np.nan],
    [10, np.nan, 10],
    [2, 3, 4]
]
columns = ['col0', 'col1', 'col2']
df = pd.DataFrame(data, columns=columns)

In [13]:
df.dropna(subset ='col2')

# 135

dataframe.fillna

다음 데이터프레임의 NaN 값을 0으로 채우세요.

import pandas as pd
import numpy as np

data = [
    [1, 1, np.nan],
    [10, np.nan, 10],
    [2, 3, 4]
]
columns = ['col0', 'col1', 'col2']
df = pd.DataFrame(data, columns=columns)

In [15]:
df.fillna(0)

# 136

fillna (method)

다음 데이터프레임에서 NaN 값을 동일 컬럼의 이전 값으로 채우세요.

import pandas as pd
import numpy as np

data = [
    [1, 1, np.nan],
    [10, np.nan, 10],
    [2, 3, 4]
]
columns = ['col0', 'col1', 'col2']
df = pd.DataFrame(data, columns=columns)

In [ ]:
df.fillna(method='ffill')

# 137

dataframe.isna()

다음 데이터프레임에서 isna 메서드를 호출해보세요.

import pandas as pd
import numpy as np

data = [
    [1, 1, np.nan],
    [10, np.nan, 10],
    [2, 3, 4]
]
columns = ['col0', 'col1', 'col2']
df = pd.DataFrame(data, columns=columns)

In [ ]:
df.isna()

# 138

dataframe.notna

위 데이터프레임에 대해서 notna 메서드를 호출해보세요.

In [ ]:
df.notna()

# 139

dataframe replace

다음 데이터프레임에서 0을 100으로 변경하세요.

import pandas as pd
import numpy as np

data = np.arange(9).reshape(3, 3)
df = pd.DataFrame(data)

In [ ]:
df.replace(0,100)

# 140

astype

다음 데이터프레임의 'fruit' 컬럼의 타입을 object에서 category로 변경하세요.

import pandas as pd

data = {
    'fruit': ['apple', 'orange', 'orange', 'apple', 'apple', 'apple'],
    'weight': [1.5, 1.3, 3.7, 2.4, 1.7, 1.8]
}
df = pd.DataFrame(data)

In [22]:
df['fruit'].astype('category')

array([1, 2, 3, 4])