In [2]:
import numpy as np
import pandas as pd
from datetime import datetime

# 201

wide data
다음 그림의 데이터프레임을 생성하세요.

In [ ]:
data = {
    'Date': [datetime(2020, 12, 1), datetime(2021, 12, 1)],
    '삼성전자': [21.09, 13.55],
    '카카오': [221.53, 35.92],
    'NAVER': [47.97, 3.77],
    'SK하이닉스': [18.14, 9.93],
    '현대차': [37.33, 11.71]
}

df = pd.DataFrame(data = data)

# 202

pandas.melt
pandas melt 함수를 사용하여 위 데이터프레임을 다음과 같이 변경하세요,

In [11]:
df = pd.melt(df, id_vars=['Date'], var_name='종목명', value_name='PER')

# 203

pandas.pivot

데이터프레임 df를 pandas pivot 함수를 사용해서 아래 그림과 같이 변환해보세요.

import pandas as pd

data = [
    ["2021-08-12", "삼성전자", 77000],
    ["2021-08-13", "삼성전자", 74400],
    ["2021-08-12", "LG전자", 153000],
    ["2021-08-13", "LG전자", 150500],
    ["2021-08-12", "SK하이닉스", 100500],
    ["2021-08-13", "SK하이닉스", 101500]
]
columns = ["날짜", "종목명", "종가"]
df = pd.DataFrame(data=data, columns=columns)

In [12]:
df = pd.pivot(df, index='날짜', columns='종목명', values='종가')

# 204

pandas.pivot
위 데이터프레임 df를 판다스 pivot 함수를 사용해 다음 그림과 같이 변환해보세요.

In [13]:
pd.pivot(df, index='종목명', columns='날짜', values='종가')

# 205

DataFrame stack

다음 데이터프레임 df를 stack 메서드를 사용해서 그림과 같이 변환해보세요. 변환된 데이터프레임을 stacked 변수로 바인딩하세요.

import pandas as pd
from datetime import datetime

arrays = [
    ['영업이익', '영업이익', '당기순이익', '당기순이익'],
    ['컨센서스', '잠정치', '컨센서스', '잠정치']
]

columns = pd.MultiIndex.from_arrays(arrays)
index = [datetime(2020, 6, 1), datetime(2020, 9, 1)]
data = [
    [100, 900, 800, 700],
    [1200, 1400, 900, 800]
]
df = pd.DataFrame(data=data, index=index, columns=columns)

In [15]:
stacked = df.stack()

# 206

DataFrame stack

위 데이터프레임 df를 stack 메서드를 사용하여 다음 그림과 같이 변환해보세요.

In [ ]:
df.stack(level=0)

# 207

DataFrame.unstack

stacked 변수가 바인딩하는 데이터프레임에 unstack 메서드를 호출해보세요.

In [ ]:
stacked.unstack()

# 208

pandas.cut

다음 값을 판다스의 cut 함수를 사용하여 3개의 구간으로 나누세요.

import numpy as np
arr = np.array([1, 7, 5, 4, 6, 3])

In [ ]:
pd.cut(arr, 3)

# 209

pandas.cut labels

다음 값을 판다스의 cut 함수를 사용하여 3개의 구간으로 나누세요. 각 구간의 라벨은 'bad', 'medium', 'good'입니다.

import numpy as np arr = np.array([1,  7,  5,  4,  6,  3])

In [ ]:
pd.cut(arr), 3, labels=["bad", "medium", "good"]

# 210

pandas cut

다음 시리즈 객체에 대해서 수, 우, 미, 양, 가로 평가하세요.

점수	평가
90~100	수
80 ~ 89	우
70 ~ 79	미
60 ~ 69	양
0 ~ 59	가
import pandas as pd

scores = [90, 55, 73, 87, 80, 66, 40, 100]
s = pd.Series(scores)

In [ ]:
import pandas as pd

scores = [90, 55, 73, 87, 80, 66, 40, 100]
s = pd.Series(scores)
pd.cut(s, 
       bins=[0, 60, 70, 80, 90, 101], 
       right=False, 
       labels=["가","양","미","우","수"])