In [ ]:
import numpy as np
import pandas as pd

# 121

dropna

다음과 같이 NaN이 포함된 시리즈 겍채에서 NaN 값을 제거하세요.

import numpy as np
from pandas import Series

data = [1, 2, 3, 4, np.nan]
s = Series(data=data)
s

In [ ]:
s.dropna()

# 122

nlargest

다음과 같은 시리즈 객체가 있을 때 nlargest 메서드를 사용하여 값이 큰 3개를 출력해보세요.

from pandas import Series

data = range(1, 11)
s = Series(data=data)
s

In [11]:
s.nlargest(n=3)

# 123

nsmallest

다음과 같은 시리즈 객체가 있을 때 nsmallest 메서드를 사용하여 값이 작은 3개를 출력해보세요.

from pandas import Series

data = range(1, 11)
s = Series(data=data)
s

In [12]:
s.nsmallest(n=3)

# 124

Series.dt.year

다음 시리즈 객체의 값에서 연도만 출력하세요.

import pandas as pd

data = pd.to_datetime( ['20200101', '20210101', '20220101'] )
s = pd.Series( data)

In [13]:
s.dt.year

# 125

Series.dt.day

다음 시리즈 객체의 값에서 '일'만 가져와 보세요.

import pandas as pd

data = pd.to_datetime( ['20200101', '20210101', '20220101'] )
s = pd.Series( data)

In [15]:
s.dt.day

# 126

시리즈 시계열 인덱스

다음 시리즈 객체의 인덱스에서 연도만 가져오세요.

import pandas as pd

index = pd.to_datetime( ['20200101', '20210101', '20220101'] )
data = [100, 200, 300]
s = pd.Series(data=data, index=index)

In [ ]:
s.index.year

# 127

strftime

시리즈 객체에는 인덱스가 datetime64 타입으로 저장돼 있습니다.

import pandas as pd

index = pd.to_datetime( ['20200101', '20210101', '20220101'] )
data = [100, 200, 300]
s = pd.Series(data=data, index=index)
시리즈의 인덱스를 다음 포맷의 문자열로 변경하세요.

2020-01-01 00:00:00    100
2021-01-01 00:00:00    200
2022-01-01 00:00:00    300
dtype: int64

In [ ]:
s.index.strftime("%Y-%m-%d 00:00:00")

# 128

Series.str.cat

다음 시리즈 객체는 3종목의 종목 코드를 저장하고 있습니다. 이를 다음과 같이 ';'로 구분된 문자열로 생성하세요.

'000020;000040;005930'
import pandas as pd

s = pd.Series(["000020", "000040", "005930"])

In [ ]:
s.join(';')

# 129

문자열 추가

종목 코드를 저장하고 있는 시리즈 객체의 종목 코드에 'A'를 추가하세요.

import pandas as pd

s = pd.Series(["000020", "000040", "005930"])

In [ ]:
'A'+s

# 130

Series.str.zfill

국내 주식은 6자리의 숫자로 구성됩니다. 다음 시리즈 객체는 각 값에서 leading zero가 모두 제가된 상태입니다. 이를 다시 원래 종목 코드로 변환하세요. 예를 들어, "20"은 "000020"이 되어야합니다.

import pandas as pd

s = pd.Series(["20", "40", "5930"])

In [ ]:
s.str.zfill(6)