In [ ]:
import numpy as np
import pandas as pd

# 061

시리즈 데이터 타입
시리즈의 데이터 타입을 출력해보세요.

data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)

In [ ]:
type(s)

# 062

시리즈 데이터

다음 시리즈의 데이터 타입은 무엇일까요?

data = [  10,  "가" ]
s = Series( data )

In [11]:
"object"

# 063

시리즈 인덱스의 데이터 타입

시리즈에서 인덱스의 데이터 타입을 출력해보세요.

data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)

In [12]:
print(s.index.dtype)

# 064

시리즈 이름과 인덱스 이름

다음은 삼성전자의 종가 데이터입니다. 이를 시리즈 객체로 생성한 후 시리즈의 name 속성에 '종가'를 인덱스의 name 속성에 날짜를 설정해보세요.

날짜	종가
2020-12-11	73400
2020-12-10	72900
2020-12-09	73900
2020-12-08	71700
2020-12-07	72900

In [13]:
data = {
    "2020-12-11": 73400,
    "2020-12-10": 72900,
    "2020-12-09": 73900,
    "2020-12-08": 71700,
    "2020-12-07": 72900
}

s = Series(data)

s.name = "종가"
s.index.name = "날짜"

# 065

to_dict

시리즈의 데이터 타입을 딕셔너리로 변환하세요.

import pandas as pd

data = {"apple": 1500, "banana": 3000}
s = pd.Series(data)
s

In [15]:
s.to_dict()

# 066

인덱스 이름

다음 시리즈의 인덱스의 이름을 'icecream'으로 변경하세요.

import pandas as pd

data = {"apple": 1500, "banana": 3000}
s = pd.Series(data)
s

In [ ]:
s.index.name = "icecream"

# 067

시리즈 이름

다음 시리즈 객체의 이름을 'number'로 지정하세요.

import pandas as pd

s = pd.Series(data=[1, 2, 3])

In [ ]:
s.name = 'number'

# 068

NaN

다음 시리즈 객체를 생성하세요.

0    1.0
1    2.0
2    NaN
dtype: float64

In [ ]:
data = [1.0, 2.0, None]

# 069

Index.to_numpy

다음 시리즈 객체의 인덱스를 넘파이 배열로 변경하세요.

import pandas as pd

s = pd.Series([1, 2, 3])

In [ ]:
s.index.to_numpy()

# 070

Series.array

다음 시리즈 객체의 array 속성을 사용해보세요.

import pandas as pd

s = pd.Series([1, 2, 3])

In [ ]:
s.array